######################################
##### Greenplum env ##################
######################################
source {{greenplum_gphome}}/greenplum_path.sh
export MASTER_DATA_DIRECTORY={{greenplum_master_dir}}/gpseg-1/
export PGPORT={{greenplum_master_port}}
export PGHOST={{greenplum_master_host}}
export PGUSER={{greenplum_admin_user}}
