#######################################
#### Greenplum Limits Parameters ###########
#######################################
{{greenplum_admin_user}} soft nofile 2900000
{{greenplum_admin_user}} hard nofile 2900000
{{greenplum_admin_user}} soft nproc 131072
{{greenplum_admin_user}} hard nproc 131072
